.item{
  border-bottom: 1px solid black;
  position: relative;
  height: 100px;
}
.img{
  position: absolute;
  top: 5px;
  right: 50px;
  border-radius: 5px;
}
.name{
  margin-top: 15px;
}
@media (max-width: 522px){
  .img{
    top: 5px;
    right: 10px;
    max-width: 15%;
    height: auto;
  }
}